[2019-02-20 23:12] marcdotson opened #1 "Finish creating the survey"
@andrewheiss is going to provide a list of the questions we need to change in the survey. I'll work with my RA's (@meghop, @sabrinaweiler, @mitchellkimball, @maryrosemcqueen) to complete the draft on Qualtrics so we can start data collection.

[2019-02-27 22:58] marcdotson commented on #1
Questions
- How does the consent work with screening questions? Note that you must be qualified to get paid?
- Do we need to define charity in Q2.5 or volunteering in Q2.8/Q2.9?
- Estimate on how much time it takes to complete the survey.
- Estimate on how much each person (who is qualified) will get paid.
- Q5.2 and Q5.3 might be redundant and seem to measure the same thing. Should we just keep Q

[2019-03-07 17:06] marcdotson commented on #1
@meghop, @sabrinaweiler, @MitchellKimball, @maryrosemcqueen please submit a pull request with your changes to the survey to the master branch of marcdotson/why-donors-donate ASAP. I'd like to get this finished today.

[2019-03-07 17:22] andrewheiss commented on #1
Oui oui!

[2019-03-07 21:54] meghop commented on #1
@marcdotson, @andrewheiss Sorry for the delay! Edits have been officially been pushed to the master. Hopefully it worked...

[2019-03-07 23:13] marcdotson commented on #1
Thanks. Let's make sure to make pull requests in the future. We'll talk about it more next week.

[2019-03-08 00:41] marcdotson commented on #1
This might be another issue, but once we're all good on a finalized version of the survey to send to IRB, we'll need to code the survey again. I think it'll be best to do it from scratch given the changes and how easy it'll be to cut and paste from the markdown document. @meghop, let's create this using my account.

[2019-03-08 00:43] marcdotson opened #3 "Prepare for data analysis"
@meghop, @sabrinaweiler, @MitchellKimball, @maryrosemcqueen we can prepare for analyzing the data by simulating survey and conjoint data and setting up for the analysis. Time to code! We can talk about this in our meeting next week or, if you have time, stop by my office tomorrow.

[2019-03-08 20:17] marcdotson commented on #1
I confirmed with Centiment that we are ready for data collection as soon as the IRB approves the survey. A few details to record here from that conversation:

- Individuals representative of the general population who donate to charities. - Quote assumes at least 20% incidence rate from US general population.
- Up to 40 questions allowed.
- Up to an estimated 10 minutes to complete.
- 1,000 respon

[2019-03-14 00:05] marcdotson opened #4 "Close the loop on fork-and-clone"
Once the pull request is accepted, @andrewheiss, could we do a walkthrough of how to close the loop on fork-and-clone and pull changes from this remote to my fork?

[2019-04-10 21:46] marcdotson commented on #1
@meghop and anyone else who wants to help is going to transfer the [survey](https://github.com/andrewheiss/why-donors-donate/blob/master/analysis/survey/experiment.md) into Qualtrics.

Then test, test, test!

[2019-04-11 18:19] meghop commented on #1
@marcdotson Survey is officially transferred to Qualtrics & being tested. Three quick questions.

1. The skip logic wasn't included in the approved survey document, but should we terminate those that do give their consent in the first question?
2. Should there be slashes between numbers (ex. how much did you donate to charity last year? \$1-\$49)
3. Can I publish the survey so it is easier to send

[2019-04-11 22:49] meghop commented on #1
*** should we terminate those that do not give their consent

[2019-04-11 23:07] marcdotson commented on #1
@meghop Yes, please terminate those who don't give their consent. Yes, slashes. Yes, publish the survey to test it, just don't distribute outside the group.

[2019-04-11 23:48] marcdotson commented on #4
Thanks!

[2019-04-11 23:48] #4 closed

[2019-04-11 23:51] marcdotson opened #5 "Delete local repo, clone the new fork"
@meghop @maryrosemcqueen @sabrinaweiler @MitchellKimball I burned down the old fork and repo. You'll want to delete your local repo and clone the [new fork](https://github.com/marcdotson/why-donors-donate).

[2019-04-29 20:12] #5 closed

[2019-04-29 20:12] marcdotson commented on #1
How has testing gone on the survey?

[2019-04-29 20:13] marcdotson opened #6 "Schedule summer meeting"
@meghop @maryrosemcqueen @sabrinaweiler @MitchellKimball if you're interested in helping see this through, what would be a good time for you to meet over the summer?

[2019-04-30 00:05] MitchellKimball commented on #6
I thought we weren’t allowed to work?

Sent from my iPhone

[2019-04-30 01:48] marcdotson commented on #6
You can work up to two weeks after graduation. There was also some interest in helping with the project without getting paid. If neither of those are of interest or apply to you, all good. :)

[2019-04-30 13:14] MitchellKimball commented on #6
Got it. Interested in both

Sent from my iPhone

[2019-04-30 20:46] marcdotson commented on #6
Cool. What would be a good time to meet over the summer?

[2019-05-01 14:19] MitchellKimball commented on #6
After 5 everyday works for me!

Sent from my iPhone

[2019-05-01 17:02] marcdotson commented on #6
Let's do 5:30 on Thursdays.

[2019-05-02 13:36] MitchellKimball commented on #6
Are we starting today?

Sent from my iPhone

[2019-05-02 19:06] marcdotson opened #7 "Details for the pre-registration"
- Reference justifying the sample size.
- Provide language around "significance" for part-worth estimates (e.g. using HPD for the marginal posteriors, measures of model fit).
- Explain the design creation and assignment to different versions of the design.

[2019-05-02 19:33] marcdotson commented on #6
Yes, let's start today!

[2019-05-02 19:33] #6 closed

[2019-05-02 19:37] marcdotson commented on #7
Reference previous pre-registration: [https://osf.io/dx973](https://osf.io/dx973)

[2019-05-02 19:38] marcdotson commented on #1
@meghop, @sabrinaweiler, @MitchellKimball, @maryrosemcqueen (if you're interested in completing this) here are some next steps:

- Confirm the estimated time-to-completion (10 minutes) is accurate.
- Make sure the survey (test [the survey here](https://byu.az1.qualtrics.com/jfe/form/SV_aXolqYvE0BXDRS5)) conforms as designed (see [the survey here](https://github.com/marcdotson/why-donors-donate/blo

[2019-05-02 20:53] andrewheiss commented on #7
And here's a previous pre-registration for a conjoint hierarchical MNL model: <https://osf.io/u43yg>

[2019-05-02 20:53] andrewheiss commented on #7
`preregistration.Rmd` is ready for you to edit and fill in: https://github.com/andrewheiss/why-donors-donate/blob/master/analysis/survey/preregistration.Rmd

[2019-05-03 00:07] marcdotson commented on #7
Moved this all into the PR #8.

[2019-05-03 00:07] #7 closed

[2019-05-03 00:12] marcdotson commented on #3
With the hypothesis section of the pre-registration taking shape, we have a better idea of what to prepare for. The data analysis prep will include:

- Testing the hierarchical multinomial logit model, including the use of various covariates.
- Plotting aggregate marginal posteriors and comparing 95% confidence intervals, including the use of various covariates.
- Preparing for counterfactual anal

[2019-05-03 23:55] marcdotson commented on #1
![design_balance](https://user-images.githubusercontent.com/29615257/57170769-6a8ea500-6dcc-11e9-8142-7fe5c304c78e.png)

@MitchellKimball and I have checked the experimental design (in its current form). It's all balanced.

[2019-05-04 03:21] andrewheiss commented on #1
Awesome.

Yes, it's fine to split the organizational attributes into a binary (so it'd be transparency vs. accountability, right?)

[2019-05-04 03:21] andrewheiss commented on #1
Ha, just kidding. Transparency yes/no + accountability yes/no.

[2019-05-04 03:30] andrewheiss commented on #1
In that case, I propose we change the attributes to this kind of wording:

I'll make a change to the static survey—the one on Qualtrics will need to be updated too.

[2019-05-04 06:42] andrewheiss commented on #1
I added the new language in c810274 and 90239da

[2019-05-06 18:20] marcdotson commented on #1
Thanks, @andrewheiss. That language looks good. I'll make the change to the survey and check the levels balance again.

[2019-05-06 18:41] marcdotson commented on #1
Survey, including the design, updated. Balance, again, looks good.

![design_balance](https://user-images.githubusercontent.com/29615257/57247035-0ce09f80-6ffc-11e9-9384-095ee87bcd4b.png)

Now we (@MitchellKimball) just need to:

- Confirm the estimated time-to-completion (10 minutes) is accurate.
- Make sure the survey (test [the survey here](https://byu.az1.qualtrics.com/jfe/form/SV_aXolqYvE0BXD

[2019-05-10 00:26] embeukes commented on #1
@marcdotson Running through it the first time it took me 11.5 minutes. All the "termination" questions and forced responses seemed to work fine.

Here's my feedback:
1. In the intro page you say "By clicking "I agree" below...." but the button just has arrows and doesn't actually say "I agree". Little thing.
2. Q2.3 - do you want these to be randomized? Every time I clicked on them they were in th

[2019-05-10 20:13] marcdotson commented on #1
Thanks, @embeukes!

[2019-05-16 16:20] andrewheiss commented on #1
Remaining issues I found:

- [ ] Keep Q1.1 (consent text) and Q1.2 (consent question) on the same page (or put content of Q1.1 into the question for Q1.2 so that they can be on the same page, since each question right now is on its own page)
- [ ] I also didn't see Q2.7 or Q2.8 or Q2.11
- [ ] Participants go through 7 iterations of the conjoint questions, correct? In the static survey it says 12 t

[2019-05-22 00:33] marcdotson commented on #1
@andrewheiss in addition to addressing the issues that have been raised (comments and questions below), I've also tried to clean up the survey layout and make the font sizes consistent. I've also moved the conjoint from a grid to cards, which will be easier to take on a mobile device. If you don't like it we can go back to the grid. Finally, I've included the attention check and made sure those wh

[2019-05-22 20:48] marcdotson commented on #1
@andrewheiss FYI, I'm making changes to [experiment.md](https://github.com/andrewheiss/why-donors-donate/blob/master/analysis/survey/experiment.md) as well. I'll make a PR once we've finalized things with those changes.

[2019-05-22 21:46] marcdotson commented on #1
@andrewheiss changed the language for the 7-point rating scales from left-to-right to 1-to-7, since there is no left-to-right on the mobile version (i.e., it's vertical).

[2019-05-22 22:33] marcdotson commented on #1
@andrewheiss the 7-point rating scale questions were still strange to me. I've rewritten them and made the scales vertical so it's easier to parse on mobile devices. If you aren't satisfied with this, I can return to the previous version, but the matrix setup isn't always mobile-friendly.

[2019-05-23 18:07] andrewheiss commented on #1
@marcdotson Awesome, this looks great!

- You can randomize the order for religion and race
- I like the conjoint cards a lot.
- I've been hunting around online for where the prosocial question in Q5.11 came from and can't find anything. I've found lots of studies that use 10-15 questions to create indexes of prosociality and altruism, but no single questions. So maybe we should drop it? Unless Su

[2019-05-24 20:52] marcdotson commented on #3
@andrewheiss two organization-related questions:

- Do we include Stan files in the `/R` directory?
- Should we include model calibration within an Rmd file in `/analysis`? I'd assumed we'd just be working with model output in the Rmd files that are posted online since it'll take a while for these models to run.

[2019-05-24 21:47] andrewheiss commented on #3
If we want Stan files to be precompiled as functions like rstanarm's stuff, they have to go in a bunch of weird places, and [**rstantools**](https://github.com/stan-dev/rstantools) takes care of that (like, some parts go in `/inst/include/`, some in `/tools/`, and some in `/src/`).

The actual Stan files typically go in `/src/stan_files/` (like [here](https://github.com/andrewheiss/ngo-crackdowns-

[2019-05-24 22:48] marcdotson commented on #1
Final changes:

Done.

Changed Q5.11 to "On a scale of strongly agree (1) to strongly disagree (7), rate your response to the following statement: People should be more charitable towards others in society."

[2019-05-24 22:48] #1 closed

[2019-05-24 23:14] marcdotson commented on #3
I'll leave precompiling, if you want it, to you. :)

Good to know -- I'll put the model calibration scripts (both R and Stan) in an `/analysis` subfolder.

[2019-06-20 20:07] marcdotson commented on #3
Created `/src/stan_files` (not an `/analysis` subfolder) and finished set-up for analysis, including data cleaning. See PR #10.

[2019-06-20 20:07] #3 closed

[2019-06-23 01:40] marcdotson opened #13 "Do you even Rmd, bruh?"
Open issue for running problems with my learning how to write a paper using R Markdown. Feel free to pile on general correction, complaints, and resources here, @andrewheiss.

[2019-07-30 00:04] marcdotson opened #15 "Model results"
Unsurprisingly, the default number of iterations appears insufficient as we add covariates to the upper-level model. Each of the non-intercept-only models has one or more of the following:

`Warning messages:
1: Bulk Effective Samples Size (ESS) is too low, indicating posterior means and medians may be unreliable.
Running the chains for more iterations may help. See
http://mc-stan.org/misc/warning

[2019-07-30 15:57] marcdotson commented on #15
Same issue with the intercept-only run. I'm running them all for 4000 iterations as an initial check.

[2019-07-31 19:09] marcdotson commented on #15
Warning from the intercept-only model:

`Warning message:
Bulk Effective Samples Size (ESS) is too low, indicating posterior means and medians may be unreliable.
Running the chains for more iterations may help. See
http://mc-stan.org/misc/warnings.html#bulk-ess `

Warnings, collectively, from the covariate models, **except** the public + political + social + charity and the public + political + so

[2019-08-10 00:34] marcdotson commented on #15
Running all models again for much longer and thinning draws to keep 2000 iterations, including warm-up.

[2019-08-14 21:03] marcdotson commented on #15
No errors when running the models for 10,000 iterations.

[2019-08-14 21:05] #15 closed

[2019-09-10 19:46] marcdotson opened #17 "Modify contributors"
Hey, @andrewheiss. Can you make the following changes to the contributors?

- Remove @maryrosemcqueen and @meghop.
- Add @sophie-cee.

Sophie is in the pre-PhD seminar I'm teaching this semester (the first half is Bayesian inference from _Statistical Rethinking_) and will be helping explore how to best visualize the results and draft some of the methods section.

[2019-09-10 19:49] marcdotson commented on #13
Hi, @andrewheiss. First legit question: What's the best way to parameterize data (e.g., posterior draws) for use in the paper? As far as I gather, we do this in the YAML, but I've seen it for values not data. Also...

![image](https://user-images.githubusercontent.com/29615257/64645215-98ff3b00-d3d1-11e9-84a8-a408d31932d6.png)

[2019-09-10 19:58] marcdotson opened #18 "Improve marginal posterior visualizations"
@sophie-cee you should have received an invite! Here's where we'll discuss and work on the visualization issue. We need better visualizations for the marginal posteriors. See the following code:

`03_analysis.Rmd > load-packages > plot-marginals`

Packages to get familiar with: bayesplot, tidybayes, ggridges.

[2019-09-12 00:08] andrewheiss commented on #17
I just sent an invite to @sophie-cee!

[2019-09-12 00:08] #17 closed

[2019-09-12 00:13] marcdotson commented on #13
I realize this is probably a stupid question. Plus I found an RLadies presentation to go through, so...

[2019-09-12 00:27] andrewheiss commented on #13
Like, how do you specify a specific RDS or CSV file to load?

[2019-09-12 00:28] andrewheiss commented on #13
brb whipping up a reprex…

[2019-09-12 00:35] andrewheiss commented on #13
Like so?

[code]

[2019-09-12 00:36] andrewheiss commented on #13
Then later change the yaml to:

[code]

and re-knit to use the other data

[2019-09-13 22:55] marcdotson commented on #13
Awesome! Maybe it wasn't such a stupid question. Thanks.

[2019-09-19 16:05] sophie-cee commented on #18
@marcdotson, encountered some issues loading packages. Could you take a look at the two errors in `03_analysis.Rmd > load-packages `?

[2019-09-24 20:21] marcdotson commented on #18
Next steps from discussion today @sophie-cee:

- Filter down to visualize answers to specific questions/hypotheses in the paper.
- Look at adding color to the visualizations.
- Investigate adding the "credible interval" to the ridges plots?

[2019-09-26 00:33] sophie-cee commented on #18
@marcdotson I've made a R Markdown to make it easier to visualize the main questions.
`analysis > output > figures > marginal posterior visualizations > hypotheses.md`

What suggestions do you have for the markdown (besides the color) or other plots to look into?

[2019-09-26 16:57] marcdotson commented on #18
Good idea, @sophie-cee. Follow the same structure as the other R Markdown documents (YAML, naming each code chunk, etc.)

[2019-09-27 23:00] sophie-cee commented on #18
Next steps:

* Put plots into the results section of `manuscript > manuscript.Rmd` .
* Start writing interpretations for plots.

[2019-09-28 01:42] marcdotson opened #19 "Re-run models with updated dummy coding"
What do we need in terms of model comparison to test the specified hypotheses?

- There are a variety of ways we could measure in-sample fit.
- As a point of discussion: now that I know how to implement loo for a hierarchical model, we may need to re-run the models so we can use that for model comparison.

[2019-10-17 20:29] sophie-cee opened #21 "Draft methods and results section"
Use Beyond Limits of Survey Experiments to find further literature review.

Write a couple of paragraphs on the context of what's been done with conjoint analysis in the political and/or public policy field.

[2019-10-29 20:16] marcdotson commented on #21
@andrewheiss we are trying to knit a draft of the manuscript. It produces an HTML file locally but nothing that we can commit or push to GitHub. Help?

Also, when are you presenting this next? We should have another meeting to figure out how to push through to that deadline and beyond.

[2019-10-30 05:14] andrewheiss commented on #21
Just e-mailed!

[2019-10-30 13:17] andrewheiss commented on #21
Oh also, don't worry about committing the HTML output (or PDF or whatever). The output is ephemeral and the result of the Markdown file, so it's not important—reknitting is trivial.

If *.html isn't in .gitignore already, you can add it there

[2019-11-04 16:31] marcdotson commented on #21
I just wanted to read the output of the Markdown file instead of the Markdown file itself, be it HTML, GitHub Document -- whatever.

[2019-11-04 16:50] marcdotson commented on #21
But maybe that doesn't matter. Let's talk about it in the call.

[2019-11-05 21:18] marcdotson commented on #21
@sophie-cee here's the to-do list we just discussed:

1. For Q1 hypotheses, move back to `geom_halfeye()` so we can see the 95% credible intervals. Notify me and I'll make a PR for Andrew to use as he works on the results section draft.
2. Create a `methods-section` branch and keep working on that section, including the survey and an explanation of conjoint and its uses.
3. I'll find my code for c

[2019-11-12 21:03] marcdotson commented on #18
Finished (for Research Question 1) with PR #22.

[2019-11-12 21:03] #18 closed

[2019-11-12 21:05] marcdotson commented on #21
@andrewheiss how are things looking for the Nov. 15 submission deadline? Here's what's left on our to-do list. Tell me if you want help with something else:

- Create a `methods-section` branch and keep working on that section, including the survey and an explanation of conjoint and its uses.
- I'll find my code for creating a heat map for the covariate models for Q2. After finishing the results a

[2019-11-12 21:09] andrewheiss commented on #21
Good good, we should be on track. I have a ton of uncommitted changes locally, and I made a new Rmd file for all the tables and figures that go into the paper

Once I get more stuff polished, I'll commit and push. In the meantime, go ahead and branch and I'll bring in your changes later

<img width="372" alt="image" src="https://user-images.githubusercontent.com/73663/68711021-be8df980-0566-11ea-9

[2019-11-14 22:48] sophie-cee commented on #21
@marcdotson, added the Methods section for you to review and revise.

[2019-11-16 02:51] marcdotson commented on #21
Submitted PR #23.

[2019-12-23 22:32] #21 closed

[2019-12-23 22:33] marcdotson opened #24 "Create market simulator"
Look at creating it in R vs. Excel.

[2019-12-23 22:34] marcdotson opened #25 "Consider Oxfam scandal confounding"

[2020-01-10 00:09] marcdotson opened #26 "Add another collaborator"
@andrewheiss can you add @jeffgallini as a collaborator? He and @sophie-cee will be taking the lead on the market simulator.

[2020-01-10 00:28] marcdotson commented on #24
Here are the basic components we need:

- Configuration (this is what we'll want to have manipulated using a dashboard).
- Results (explored as part of a dashboard).
- Compute (done in the background using the betas from the model).

@sophie-cee et. al are going to look at flexdashboards or Shiny to figure out the simplest, best option for building the dashboard. @marcdotson will provide an exampl

[2020-01-10 00:29] marcdotson commented on #25
@sophie-cee just respond to the issue here and we'll move it into the manuscript once Andrew updates the repo.

[2020-01-13 15:47] marcdotson commented on #24
@sophie-cee do you have one of the pricing simulators from your class with Jeff? That should be a better place to start. If not, Samuel has one, would you connect with him?

[2020-01-13 19:35] marcdotson commented on #13
I'm assuming this will be revealed when the working draft is posted, @andrewheiss, but I'm anxious to see how citations are handled as park of the R Markdown.

[2020-01-13 22:18] sophie-cee commented on #24
Yes, I'll look into it.

[2020-01-14 03:13] andrewheiss commented on #26
✅

[2020-01-14 03:13] #26 closed

[2020-01-14 04:59] andrewheiss commented on #13
K, I finally committed and pushed everything to master! You can see how citations are handled in the draft at <https://github.com/andrewheiss/why-donors-donate/blob/master/manuscript/manuscript.Rmd>. They're standard pandoc citations: see [here](https://evalsp20.classes.andrewheiss.com/reference/markdown/#citations) or [here](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.htm

[2020-01-14 15:46] marcdotson commented on #24
@jeffgallini has access to the repo now as well! Confirmed that Samuel has the market simulator. Get familiar with it and start building out the first version for us.

[2020-01-14 17:47] marcdotson commented on #24
@jeffgallini @sophie-cee this might prove helpful, provided by none other than @andrewheiss himself: https://www.andrewheiss.com/blog/2020/01/01/flexdashboard-dynamic-data/.

[2020-01-14 17:50] andrewheiss commented on #24
Oh mean, yeah, flexdashboard is probably the way to go here. Shiny is too intimidating for me, but with flexdashboard you can do Shiny-ish things like change inputs, etc. without actually building a complete Shiny app.

[2020-01-14 17:51] andrewheiss commented on #24
And with this project, the data doesn't need to live on Google Drive or whatever—when you publish the dashboard/Rmd from RStudio, it'll upload any necessary files, like data, etc.

[2020-01-15 16:43] sophie-cee commented on #25
@marcdotson
February 2018: 2011 Haiti scandal came out in the news
May 14, 2019: "Oxfam fires 43 Staff following abuse investigations" - _CivilSociety_
May 29, 2019 - June 4, 2019: Survey data was collected
June 11, 2019: "Oxfam failed to report child abuse claims in Haiti, inquiry finds" - _The Gaurdian_

The bulk of the Oxfam scandal happened in 2018, but there are still occasional news reminder

[2020-01-15 18:03] marcdotson commented on #25
@andrewheiss does that answer the concern about Oxfam being unduly impacted by the scandal news hitting? It's right in the middle, but it looks like the details of what they failed to report came out after the survey was finished.

Also, this was the US, and you nor I heard about it, so... *shrug*

[2020-01-15 18:30] marcdotson commented on #24
@sophie-cee @jeffgallini `market-simulator` branch created. Let's do this thang!

[2020-01-18 18:46] sophie-cee commented on #24
@marcdotson, @jeffgallini and I are looking at getting the draws from the intercept only model.

Is `analysis > output > posterior draws > intercept_noncentered.rds` the right file? Not sure what `i` and `j` represent. Just need some direction on how to figure out what the attribute level means are.

[2020-01-21 19:09] marcdotson commented on #24
@sophie-cee that's the right file. We went over `i` and `j` when you were plotting. Check those scripts/comments first.

[2020-01-22 18:26] marcdotson commented on #24
From `03_analysis.Rmd` in the `plot-marginals` section, `i` is the levels and `j` is the covariates (where `j = 1` for the intercept-only model).

[2020-01-23 20:57] jeffgallini commented on #24
@sophie-cee  Loaded in the intercept model and got the means for the data, next we need to:
1. drop missing attribute levels for the inputs
2. set up the matrix multiplication for the betas
3. set the inputs to work with the matrix multiplication

[2020-01-27 18:48] jeffgallini commented on #24
Added the levels in the simulator. Still trying to figure out how to make an object that interacts with the drop downs. Will probably make a dataframe with all possible outcomes and filter down based on the selections

[2020-02-05 18:23] sophie-cee opened #27 "Add David"
@andrewheiss, can you add @Dperezc as a collaborator? He will be joining us on the project.

[2020-02-05 18:25] andrewheiss commented on #27
Invitation sent!

[2020-02-05 18:25] #27 closed

[2020-02-10 16:57] jeffgallini commented on #24
Figured out how to make a reactive data frame. Next step is the matrix multiplication @sophie-cee

[2020-03-04 22:24] jeffgallini commented on #24
I am not exactly sure what is causing the problem with the formatting. I have determined that it has something to do with how the dashboard is interactive with the web site layout. When I pull the dashboard outside the web site layout, it works just fine. Everything else is updated.

[2020-03-05 01:26] marcdotson commented on #19
To update:

- Validate the parameterization.
- Consider any recoding of the covariates.
- Re-run the models and include generated quantities for PSISI-LOO measure of model fit.
- Compute contrasts instead of eyeballing comparisons between parameter estimates.

[2020-03-11 18:43] marcdotson commented on #24
I'll investigate how we might "turn on" multiple covariates in the market simulator.

[2020-06-08 21:49] marcdotson opened #29 "Changing of the guard (i.e., RAs)"
@andrewheiss we have some RAs to swap out/in.

- We can remove @Dperezc and @jeffgallini from the project.
- Add @evanwride and @z-wix.

[2020-06-08 23:30] andrewheiss commented on #29
✅

[2020-06-18 20:11] marcdotson commented on #24
Here's a walkthrough of each tab in the current Excel draft of the market simulator:

- Results has the matrix of market shares for each organization/row for each persona/column (i.e., each column sums to one). I have a few charts here, but you might prefer to just copy and paste these values into their own CSV and import into R to produce the results, including plots.
- Organizations includes all

[2020-06-18 20:13] marcdotson commented on #29
Sorry, @andrewheiss, can you invite @evanwride again as a collaborator?

We can also remove @sophie-cee @Dperezc and @jeffgallini from the project.

[2020-06-24 21:31] evanwride opened #30 "Shiny/Flexdashboard Walkthrough"
Here is the draft so far of the shiny/flexdashboard walkthrough. I got the shiny walkthrough to work, but for some reason the layout of the flexdashboard wasn't working. I got it to work in my own personal repository, but couldn't figure out the problem when running it through why-donors-donate.

Either way, the code is correct and the information is there to explain how to use both of these dashb

[2020-07-02 18:44] marcdotson commented on #30
Thanks, @evanwride. Moved to Issue #24 Create market simulator.

[2020-07-02 18:44] #30 closed

[2020-07-02 18:44] marcdotson commented on #24
From @evanwride:

Here is the draft so far of the shiny/flexdashboard walkthrough. I got the shiny walkthrough to work, but for some reason the layout of the flexdashboard wasn't working. I got it to work in my own personal repository, but couldn't figure out the problem when running it through why-donors-donate.

Either way, the code is correct and the information is there to explain how to use b

[2020-07-16 20:22] marcdotson commented on #24
Keep adding to the above walkthroughs (knitted as `github_document`s) and use the notes above on the Excel simulator to finish up the market simulator:

- [x] Get the right betas loaded (see `output` > `posterior_draws` > `public_political_social_charity_demo.rds`).
- [x] Use/update the sidebar to be able to specify personas using all the covariates in `public_political_social_charity_demo`.
- [x]

[2020-07-16 20:25] #29 closed

[2020-07-23 20:36] marcdotson commented on #24
Thinking about this a little more linearly:

- Get the *betas* from the model.
- Specify the *personas*.
- Compute the *predicted betas* for each persona using the *betas* and specified *personas*.
- Specify the *organizations*.
- Compute the *expected utilities* for each *organization* and *persona* using the specified *organizations* and *predicted betas*.
- Normalize the *expected utilities* in

[2020-08-04 18:43] z-wix commented on #24
@evanwride File is updated with the persona calculations. Layout got a little messed up, some of the things I see that need to be changed:

- RenderValue Boxes can be removed (formatting doesn't work on website)
- Headers that flexdashboard usually hides are visible
- Pages set up is not working, change to tabs {.tabset .tabset-fade} need to figure out if we can do tabs within tabs
- First Page ha

[2020-08-10 21:29] marcdotson commented on #24
@z-wix @evanwride one thing to add to our discussion from Friday -- let's include the "hold-out" level for each of the attributes but set the corresponding value to zero. So, for example, with Issue Area, the hold-out level (which doesn't have a parameter estimate since all other parameter estimates are evaluated relative to that level) is "Emergency Response." When that level is selected the corr

[2020-09-02 02:01] marcdotson commented on #19
Models are running again.

[2020-09-11 21:23] z-wix commented on #24
@marcdotson I went through and checked to make sure the persona inputs matched the persona levels so they would influence the reactive element. You can go over it to now. Let me know if there are any issues I can fix.

[2020-09-11 21:51] marcdotson commented on #24
@z-wix have you pushed the changes and checked the results against the Excel market simulator?

[2020-09-11 21:54] z-wix commented on #24
I am pushed the changes. I am going to check the results with the Excel market simulator later tonight or tomorrow morning.

[2020-09-11 21:59] andrewheiss commented on #24
Cool cool cool. I'm going to pull all the changes and play with the results on Monday and start making revisions/additions to the paper itself

[2020-09-11 22:20] marcdotson commented on #24
It'll be fun to play with. @z-wix has done a great job in translating what we've been working on into Shiny. There should be a couple of PRs coming your way before too long, @andrewheiss.

[2020-09-13 04:57] marcdotson commented on #19
@andrewheiss in lieu of a premature PR, I'm reopening this issue with some updates to guide what you see in the `model-rerun` branch if you get a chance to look at it early next week.

- I'm using a new parameterization of the model that I'm more comfortable with (see [this blog post](https://www.occasionaldivergences.com/post/choice-models/) for details). I don't see it as materially changing the

[2020-09-13 05:00] marcdotson commented on #24
@z-wix I've send you the Excel version of the market simulator to compare against. If you can match the persona and organization configurations to that version by default, it'll be easy to confirm the simulator is working, at least initially, and then we can make changes to be sure it's matching.

Also, the biggest thing I saw was that the organization (i.e., Red Cross, Amnesty, etc.) isn't part o

[2020-09-14 14:32] z-wix commented on #24
@marcdotson after doing a lot of testing I was able to get the data directly from the market simulator to work using the matrix multiplication, however, while trying to recreate it in the simulator's reactive elements something was going wrong with organization 1. This afternoon I will be working on it after classes and Ill give you an update tonight.

[2020-09-15 16:27] andrewheiss opened #31 "Export stuff from simulator"
For the sake of reproducibility, it might be helpful if there were a way to export runs from the simulator (or include a `<code>`-delineated section on the flexdashboard page?). Perhaps some sort of plain text output like [CSVY](https://csvy.org/)?:

[code]

[2020-09-15 22:31] marcdotson commented on #31
This is a good idea. @z-wix let's look into it.

[2020-09-23 01:21] marcdotson commented on #24
@z-wix it works!

Thanks for walking through the cleaning up I'd done. After correcting the default issue you identified, I found the two culprits:

- I had introduced an error for one of the personas by double counting `per2_org3_exp` in `per2_share_denom`.
- The trickier error was that the worship attendance variable was spelled "attendence" in the reactive table and "attendance" in the inputs.

[2020-09-23 01:25] marcdotson commented on #31
Let's have this be a separate branch once we have the simulator up and running in `master`. I was looking at a few things after our discussion today, @z-wix:

- Inputs. It may need to be part of the YAML, like Andrew outlines above, but if we can just input a CSV like we currently have that might be easier. What we need to test is whether or not we can reference a CSV as part of the input function

[2020-09-23 20:29] marcdotson commented on #24
Did my testing and fixed a few issues. Ready to create a PR.

[2020-09-23 20:32] #24 closed

[2020-09-23 22:01] z-wix commented on #31
@marcdotson there is a fileInput() function with Flexdashboard that will allow you to import a file and then using that file_id we should be able to use it to populate the default selections for organizations and personas. I am still looking into a way to be able to output the renderTable of the market shares

[2020-09-24 00:29] marcdotson commented on #31
@z-wix, perfect! And it's not the market shares we'll need to output -- it's a table of all of the organization configurations or persona configurations that can then then be used with `fileInput()` or whatever we use.

Now that `market-simulator` is merged, I'm creating a new branch, `configurations` to build out the import/export functionality.

[2020-09-25 07:10] marcdotson commented on #25
Seems like this is a done deal:

`For instance, in February 2018, news broke about sexual abuse and misconduct at Oxfam and several other well known organizations, including Amnesty International and Save the Children. This potentially strengthened a narrative that the nonprofit sector suffers from governance failures (Phillips 2019). As such, it could be argued that respondents may be less likely

[2020-09-25 07:10] #25 closed

[2020-09-25 20:26] marcdotson commented on #31
@z-wix I've created an Export tab after all the other configurations in the `configurations` branch. We can render what the output will be from the simulator, and while I don't follow all of the UI requirements, it appears that [this page has what we need](https://mastering-shiny.org/action-transfer.html#download) to figure out how to first export the configuration tables and then we can figure ou

[2020-09-30 01:19] z-wix commented on #31
@marcdotson I added a downloadButtons for those render tables in the Export tab. I also fileInputs at the top of the simulator, however, they are not yet connected to the reactive values to influence the data. Because the selectInputs need a character string, I think there is a way to have the number reflect the character string (e.g selected =c("1" = "Always")). So I will be looking into that mor

[2020-10-05 21:06] marcdotson commented on #31
Some next steps from our meeting:

- Reference the imported configuration data for organization and persona defaults with *very careful* indexing.
- Create conditional argument to update the configuration data if new data is imported (maybe the apply button).
- Test by modifying configurations, exporting, importing, and double checking with the Excel simulator.

[2020-10-22 19:58] z-wix commented on #31
@marcdotson The simulator can now be tested to make sure it checks with the Excel. The only thing that I am working on right now is that when you upload a new file, you have to reopen the tabs with the inputs that changed. So I am looking for a way that it will automatically update the inputs, perhaps with an actionButton.

[2020-10-30 17:27] marcdotson commented on #31
@z-wix I think what we're looking for is the `req()` function (see [Mastering Shiny](https://mastering-shiny.org/action-transfer.html)). I'm not 100% on how to implement this, but it might require that we start with *no* default config, which is fine.

Take a look and let me know.

[2020-10-30 20:24] z-wix commented on #31
@marcdotson Perfect, I am looking into it.

[2020-11-21 00:48] marcdotson commented on #13
This has morphed into direct conversations, so I'm going to go ahead and close this comment to feel like I'm doing something.

[2020-11-21 00:48] #13 closed

[2020-11-26 05:39] marcdotson commented on #31
@z-wix any other changes to the market simulator I should know about before launching into testing after Thanksgiving?

[2020-11-28 23:11] marcdotson commented on #31
Nice work, @z-wix. I cleaned up some comments while testing and changed the code and file names for defaults to `org_data_default.csv` and `per_data_default.csv`, respectively. PR #33 submitted and I'm closing this issue. If there are any other things to discuss about this issue, let's continue with comments in the PR.

[2020-11-28 23:11] #31 closed

[2020-11-29 10:34] marcdotson commented on #19
PR #34 closes this out -- discussions can continue there.

[2020-11-29 10:34] #19 closed

[2021-09-10 23:42] marcdotson opened #35 "Answer hypotheses using contrasts"
Follow-up with preregistration hypothesis tests and produce contrasts to answer each of them on the `contrasts` branch. Consider the need for ROPE bounds around zero in connection with contrasts.

Bonus work for me:

- Figure out how to access posterior draws from external to the repo.
- Confirm the market simulator is working as intended after the merge.
- Add unnecessary .rds files to the .gitig

[2021-09-10 23:44] wtrumanrose commented on #35
hi @marcdotson

[2021-09-20 23:46] wtrumanrose commented on #35
@marcdotson I have contrasts for marginal posterior intercepts by organization done, thought I'm not sure if I did it quite correctly. When do you want to meet? If it works for you, I can stop by right after the Pre-PhD seminar (it ends at 1:45pm). Just let me know!

[2021-09-21 21:04] wtrumanrose commented on #35
@marcdotson I was kind of able to figure out the PAT--all I did was use it for when the password prompt came up. I'll keep working to figure out how to cache it, but I can at least push things now.

[2021-09-21 23:11] marcdotson commented on #35
@wtrumanrose it worked! Let me clean it up and I'll get back to you on subsequent contrasts.

[2021-09-21 23:33] marcdotson commented on #35
@wtrumanrose I cleaned up the code a bit. Take a look and compare how the new `contrasts_hypothesis01.png` in analysis > output > figures contains the same information as in `marginal-posteriors_intercept.png`, but answers the question more directly.

Let me set up the code for contrasts with the reference level and then you can produce the remaining contrasts, including quoting the pre-registrati

[2021-09-23 01:04] wtrumanrose commented on #35
@marcdotson I checked out the code; I think I'm getting a good grasp on how to be consistent with the rest of the code. In the meantime, do you want me to start doing the contrasts related to the interaction effects (e.g., Hypothesis 2b)?

[2021-09-23 16:53] marcdotson commented on #35
@wtrumanrose not yet, but you can replicate the contrasts for Hypothesis 1a for Hypothesis 2a, Hypothesis 3a, etc. It probably doesn't matter about the reference level, just read the current marginal posteriors as a contrast with that reference level set to the fixed value of zero. I'm going to try some recoding to see if that changes anything.

[2021-10-02 23:34] wtrumanrose commented on #35
@marcdotson I took care of the remaining plots, I had a bit of trouble with the market simulator though. The market share between organizations wouldn't change when I changed government relationship. I'll keep messing with it to see if I can figure it out.

[2021-10-03 00:13] marcdotson commented on #35
@wtrumanrose cool. Remember, you'll have to re-configure the compute sheet once taking out the personas and just working with the intercept gammas.

[2021-10-06 22:57] wtrumanrose commented on #35
@marcdotson Hey Marc, I'm on the last few hypotheses--take a look and tell me what you think. The multi-interaction questions have me through a bit of a loop. The exact wording isn't final either, so I still have some work to do.

[2021-10-18 23:54] wtrumanrose commented on #35
@marcdotson I cleaned up the old answers and got everything ready for the interactions. I made separate chunks for each sub-hypothesis contrast (e.g., 4a, 4b), but if you'd prefer to produce all the contrasts for a hypothesis in one chunk, I can alter it. I commented out the code for the interaction contrasts for the time being as well.

[2021-10-19 00:19] marcdotson commented on #35
@wtrumanrose that sounds fine. I'm just wrestling with RStan to get the model with the interactions running.

[2021-10-19 00:30] wtrumanrose commented on #35
@marcdotson gotcha, if the model takes awhile to run I'm happy to volunteer my computer for some iterations.

[2021-10-20 19:01] marcdotson commented on #35
Okay @wtrumanrose I have an initial model run complete including interactions to answer Hypothesis 2b. It's currently saved under `../posterior_draws/interactions_2b.rds`. I have what will (hopefully) be the complete interactions model running now. Regardless, you can get started with the necessary contrasts using these interactions.

Here's what Hypothesis 2b includes:

[code]

[2021-10-20 22:57] wtrumanrose commented on #35
@marcdotson I finished the contrast plots for 2b, but am having a bit of a difficult time answering the actual hypothesis. For every contrast except for oxfam_amnesty_criticized, 0 is within the confidence(?) interval. Let me know what you think.

[2021-10-26 23:05] marcdotson commented on #35
@wtrumanrose with the posterior draws I shared in the Drive folder, you should be able to produce a draft answer to all of the hypotheses. It won't be pretty though, I'm working on some options that I discussed with Andrew today.

[2021-10-26 23:17] wtrumanrose commented on #35
@marcdotson Got it, I'll start working on them tonight. When do you need them by?

[2021-10-26 23:22] marcdotson commented on #35
@wtrumanrose let's finish that by Friday.

[2021-10-26 23:24] wtrumanrose commented on #35
@marcdotson It will be done, will we be meeting with Jeff et al this Friday as well?

[2021-10-26 23:25] marcdotson commented on #35
@wtrumanrose yes!

[2021-10-29 00:02] wtrumanrose commented on #35
@marcdotson hey Marc, I'm on track to finish everything by tomorrow, I've found something weird though--the posterior interactions for crackdown_wealthydonors and crackdown_grants have a much larger interval than their criticized counterparts. I'll push what I have so far in a minute so you can see.

[2021-10-29 22:54] wtrumanrose commented on #35
@marcdotson Everything should be squared away with the contrast code, if there are any issues I missed let me know and I will fix it pronto.

[2021-11-05 18:21] marcdotson commented on #35
@wtrumanrose I've uploaded posterior draws for each model that includes each subset of interactions. It's probably not going to give you something different, but the posterior intervals are more manageable on average. Go ahead and implement that and produce the necessary contrasts. I'm back to the drawing board for thinking about how we might be able to use the market simulator to answer these con

[2021-11-23 23:59] marcdotson commented on #35
@wtrumanrose one thing to try with the contrasts using the interactions from each of the models covering each subset of intercepts (see the posterior draws folder in the shared Drive folder): We need to be contrasting the main effects + interactions, not just the interactions themselves. A comparison of what we have and the contrast of the main effects + interactions might be informative in our di

[2021-11-24 02:11] wtrumanrose commented on #35
@marcdotson okay sweet, I've been thinking about this quite a bit and was going to send you an email. I had a few questions/thoughts:

First, could the coding of the variables affect the interactions at all? In the model, we have some categorical variables which are dummy coded, and some which aren't. Does dummy coding change the scale of the gammas? For example, if Red Cross had a gamma of 1 and

[2021-11-29 23:58] marcdotson commented on #35
@wtrumanrose the coding changes things in terms of interpretation. However, when it comes to contrasts, we arrive at the same contrast despite how we've coded the discrete variables.

Okay, so for 4b ("Donors will show increased willingness to donate to NGOs that are facing government crackdown and are funded primarily by numerous small private donors") we need to contrast government_crackdown + s

[2021-12-02 05:39] wtrumanrose commented on #35
@marcdotson Hey Marc--I apologize I wasn't able to push the code yesterday, I was struggling a bit to think through how to do it. In the changes I've pushed, I made 2 versions of hypothesis 2b contrasts. The first one includes the main effects for both organizations and government relationship, the equation for the contrasts being:
((oxfam + oxfam_criticized) - (amnesty + amnesty_criticized) + cri

[2021-12-02 23:34] marcdotson commented on #35
@wtrumanrose almost there. It should be (oxfam + criticized + oxfam_criticized) - (amnesty + criticized + amnesty_criticized). We need both main effects to be included, though it should look like your (oxfam + oxfam_criticized) - (amnesty + amnesty_criticized) since criticized will be differenced out.

I've cleaned it up a bit and posted changes. We can't use the `interactions.rds` alone since we

[2021-12-03 00:01] marcdotson commented on #35
Okay, @andrewheiss, I may have goofed. I wanted to merge changes you made in `master` into `contrasts`, but when I resolved the merge conflicts it looks like it just went ahead and did the opposite as well and merged `contrasts` changes into `merge`, which is dumb. If you need to roll back whatever changes I just made to `master`, go ahead. Apologies.

[2021-12-03 00:11] wtrumanrose commented on #35
@marcdotson Understood, I'll get everything in shape. Am I taking the posterior draws from the Drive and putting them in data/raw_data/posterior_draws for the pull request?

[2021-12-03 00:14] marcdotson commented on #35
@wtrumanrose yeah, I think that's easiest to manage the reorganization. And then you'll need to update any import statements to that new file path, including all of the ones I added for hypotheses using interactions.

[2021-12-03 00:16] wtrumanrose commented on #35
@marcdotson Copy that, I should be able to tackle all of that today--I'll update the issue later tonight with what I have done.

[2021-12-03 04:44] wtrumanrose commented on #35
@marcdotson Alright, I have some good news and some bad news.

Bad news first--I was able to stick the interaction rds files into the posterior draws folder for raw data. However, when I try to import that data, R doesn't like that the file is that big, and won't read in a vector 16kb long (this is after wrapping it in read_rds; if I don't include that, it just provides the path to the file). I tr

[2021-12-03 22:33] marcdotson commented on #35
@wtrumanrose okay, posterior_draws replaced. It was definitely model_runs that I added accidentally.

Tag me when your pass is done and I'll finish it up.

[2021-12-03 22:35] wtrumanrose commented on #35
@marcdotson will do, we're not meeting at 4 right?

[2021-12-03 22:36] marcdotson commented on #35
@wtrumanrose no need.

[2021-12-03 22:39] wtrumanrose commented on #35
@marcdotson cool, also, could you reupload interactions_3b? my finger slipped and I hit remove instead of download, and it doesn't let me undo it for whatever reason. edit: sorry!

[2021-12-03 22:41] marcdotson commented on #35
@wtrumanrose done.

[2021-12-03 23:36] wtrumanrose commented on #35
@marcdotson awesome thank you Marc, a few things I wanted to ask you about:

First, should I reimport the draws for each contrast block, regardless of whether or not it has an interaction? For example, 5a, which doesn't have an interaction, would use draws from interactions_4c.rds. My solution would be to just import the intercept draws for the relevant contrasts and use those--let me know if you

[2021-12-04 01:16] wtrumanrose commented on #35
@marcdotson I'm wrapping up for today to work on another project due tonight, here's what I've done and plan to do:

-Interaction rds files are in the posterior draws folder, and are able to be imported now.
-All contrast code is functional, but the figures for hypotheses 4c, 5d and 5e aren't right and need to be looked at. I've tried a couple of things,  but don't have the time today to look into

[2021-12-04 01:41] marcdotson commented on #35
@wtrumanrose just used the intercept-only model if no interaction terms are needed in the contrast.

Yes, we'll need all the lower-order interactions included in the contrast. We can mix and match across interaction models.

I see you've posted one change. Let me know once you're finished with your attempt tomorrow, hopefully early, so I can take my pass at it.

[2021-12-04 20:18] wtrumanrose commented on #35
@marcdotson Hey Marc, just to keep you posted, I'm almost done adding the lower-order interactions I have (there are some we don't have draws for), as well as rewriting the conclusions. So far, I'm still having trouble with 4c, I'm about to do 5d so hopefully I can at least get those to work. I should have it pushed by 2, I'll let you know. Also, were you able to see all the changes I did yesterda

[2021-12-04 21:15] wtrumanrose commented on #35
@marcdotson Apologies for not having the changes pushed yet, 5e has a ridiculous amount of lower-order interactions.

[2021-12-04 22:15] wtrumanrose commented on #35
@marcdotson Despite my best efforts, 4c, 5d and 5e are still pretty bonkers. Fortunately, the other hypotheses had clean results, with only a few contrasts here and there containing 0. My only concern is that we lack lower-order interactions for a few contrasts, but ultimately it probably wouldn't change the results.

[2021-12-08 22:43] marcdotson commented on #35
@wtrumanrose long story, but I'm on it. Thanks.

[2021-12-09 01:55] wtrumanrose commented on #35
@marcdotson cool cool, I'll keep an eye on my email, but I probably won't be able to do much till next Tuesday. I have two scheduled finals, one Monday and the other Tuesday, so it'll basically be nonstop studying. After that, I'll only have one more final, so I can fit in some research work then.

[2021-12-14 01:27] marcdotson commented on #35
PR #37 made. Closing this issue out.

[2021-12-14 01:27] #35 closed

[2022-08-23 19:31] marcdotson opened #38 "Revisit answering hypotheses using contrasts"
Main effects and filter the data by interactions. Have we done this? Filter prior to estimating, dummy coding vs. index coding. Fix the irrelevant attributes?

Especially with financial transparency and accountability in crackdown vs. not during crackdown.